---
layout: post
title:  "HCI 3차 과제"
subtitle: ""
date:   2018-10-22 23:45:13 -0400
background: ''
---

<div class="container">
  <div class="row">
        <h1 class="subheading">Requirements 
        <br><br>
        <h2 class="subheading">1. Overall objective</h2>
        <p>요즘은 수업 시간, 강연 시간 때 파워포인트 자료, 강의 필기 자료를 앞에 화면이나 칠판에 사진을 찍어서 저장하는 경우가 많다.
         하지만 찍을 때 막 찍고 나중에 정리를 안 해놓으면, 내가 어떤 날에 무슨 강의 때 찍은 사진인지 헷갈리는 경우가 많다. 
        내가 만들 사진 정리 어플은 이러한 찍은 사진들을 강의별, 시간별, 날짜별로 쉽게 정리해주는 어플이다. 
        
        <p>또한, 칠판이 긴 경우, 한 번에 다 못 찍고 잘라서 찍는 경우도 있다. 이런 경우, 인공지능이 잘린 두 사진을 알아서 묶어서 같은 강의 때 찍은 사진이라는 것을 인식시켜준다.
        <p>추가적인 기능으로는, 글씨들이 흐릿하게 나온 경우, 칠판이 삐뚤어져서 찍힌 경우, 이를 보정해주는 기술이 들어갈 것이다.
        <br><br>
        <h2 class="subheading">2. Major functional requirements</h2>
        <p> - 사진들을 시간별, 강의별로 나뉘어져서 저장이 되어야 한다.
        <p> - 사진들끼리 폴더이동이 쉬워야한다.
        <p> - 날짜, 시간을 입력하면 그 때 찍은 사진들이 선택 또는 정리되도록 하는 기능이 들어간다.
        <p> - 필기를 더 잘 보기 위해, 사진 확대 시, 글자 이미지가 뚜렷하게 보이도록 보정 기능이 제공된다.
        <p> - 칠판이 잘린 경우, 잘린 사진들을 합쳐주거나, 같은 폴더에 정리해주는 인공지능 기술이 제공된다.
        <br><br>
        <h2 class="subheading">3. Major UI requirements</h2>
        <br>
        <h3 class="subheading">① Functional</h3>
        <br>
        <p>  	- 사진들 드래그 가능
        <p>  	- 날짜, 찍은 시간 간격 입력하면 예를 들어, 2018/10/20, 9시~10시30분 입력하면, 그 때 찍은 사진들 선택됨.
        <p>  	- 도구창에서 잘린 사진들 합치기 기능
        <p>  	- 슬라이드쇼 제공
        <p>  	- 시간표의 경우, 폴더들을 시간표 형태로 정렬할 수 있음
        <br>
        <h3 class="subheading">② Non-functional</h3>
        <br>
        <p> 	- 사진 로딩이 너무 느리면 안된다.
        <p> 	- 칠판 느낌이 나게 칠판 색깔의 배경을 사용한다.(또는 화이트보드 느낌, 선택 가능)
        <br><br>
        <h2 class="subheading">4. Considerations</h2>
        <p> - 실행환경은 Windows OS이다.
        <p> - 타겟 유저는, 주로 강의를 많이 듣는 대학생들이다.
        <p> - 항상 찍는 강의 시간에 필기 사진을 찍으니, 주로 찍는 시간대별로 사진을 쉽게 정렬할 수 있다.
        <br><br>
    <div class="clearfix">

        <h1 class="subheading">2. User Analysis</h1>
        <br><br>
      <embed src="\img\posts\interview1.mp4">
        <h2 class="subheading">1. Major direct user requirements</h2>
        <br>
        <p> - 휴대폰으로 볼 수 있으면 좋겠다.
        <p> - 폴더들이 시간표 형식으로 저장될 수 있는 기능이 있으면 좋겠다.
        </p>
        <p> - 칠판을 잘라서 찍는 경우가 많은데 나중에 컴퓨터로 볼 때 이를 한번에 이어서 보고싶다
        </p>
        <br>
        <h2 class="subheading">2. Major cognitive/ergonomic requirements</h2>
        <br>
        <p> - 날짜별, 시간별로 사진들을 선택할 수 있음을 보여준다.
        </p>
        <p> - 날짜별, 시간별로 사진들을 원하는 폴더로 이동할 수 있음을 보여준다.
        </p>
        <br>
        <h2 class="subheading">3. Usage scenarios</h2>
        <br>
        <p> 김씨는 인간컴퓨터상호작용이라는 강의를 들어왔다. 항상 그러듯이 교수님께서는 칠판에 필기가 많으시다. 김씨는 그것을 일일이 필기하기 싫기 때문에 교수님이 친판 한 바닥 필기가 끝나면 그것을 사진을 찍어왔다. 사진을 찍고 그 사진들이 어느 수업 때인지 정리해야 하지만 귀찮은 김씨는 수업이 끝나고 바로 밥을 먹으러 갔다. 그렇게 여러 수업을 듣고 난 뒤, 2주 뒤에 김씨는 중간고사 준비를 하려고 한다. 근데 찍은 사진들이 너무 많아서 김씨는 2주 전에 들었던 인간컴퓨터상호작용과목의 필기를 찾기가 힘들다. 그래서 그는 이 서비스를 사용한다. 도구창에서 사진 찾기를 누른다. 찾으려는 사진들의 날짜와, 시간을 선택하라는 창이 뜬다. 2018-10-15, 12:00~14:00을 선택하고 인간컴퓨터상호작용 폴더를 따로 만들어 둔 뒤, 선택한 사진들을 한 번에 인간컴퓨터상호작용폴더 안의 2019-10-15, 12:00~14:00 폴더에 저장을 한다.
        </p>
        <img src="\img\posts\folder.png" style="width: 1000px; height: 600px;" >
      <img src="\img\posts\choose.png" style="width: 1000px; height: 600px;">
      <img src="\img\posts\schedule.png" style="width: 1000px; height: 600px;">
        <br>
        <h2 class="subheading">4. Interaction mode</h2>
        <br>
        <p>
          사진 업로드
          서비스에 접속 -> 로그인 -> 업로드 버튼 클릭 -> 업로드할 사진 선택 

        <p>  사진 강의, 날짜별로 저장
          서비스에 접속 -> 로그인 -> 사진 찾기 선택 -> 사진 찍은 날짜 입력 -> 사진 찍은 시간 범위 입력 -> 선택/폴더에 저장

         <p> 사진 합치기
          서비스에 접속 -> 로그인 -> 강의 폴더의 날짜/시간 폴더 들어감 -> 도구창에서 사진 합치기 클릭 -> 짤려서 저장된 사진들 인ㄷ공지능이 찾아서 합치기 기능 -> 저장

        </p>
        <br><br><br><br>
        {% if page.previous.url %}
        <a class="btn btn-primary float-left" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">&larr; Previous<span class="d-none d-md-inline"> Post</span></a>
        {% endif %}
        {% if page.next.url %}
        <a class="btn btn-primary float-right" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">Next<span class="d-none d-md-inline"> Post</span> &rarr;</a>
        {% endif %}

      </div>
  </div>
</div>
