---
layout: post
title:  "HCI 2차 과제"
subtitle: ""
date:   2018-10-02 23:45:13 -0400
background: ''
---

<div class="container">
  <div class="row">
      <h1 class="subheading">Interface review - ACDsee Photo Studio</h2>

    <p>ACDsee photo studion 리뷰를 해보겠습니다. 사진 관리에 있어서 ACDSee는 매우 실용적입니다.
            ACDSee는 윈도우 브라우저 방식에 카탈로그와 임베드 데이터 방식이기 때문에 카탈로그 자체가 실종되었다고 할지라도 이미지만 살아있으면 다시 관리가 가능한 유용함이 있습니다. 게다가 키워드를 카테고리화가  가능한 초장점이 있습니다. 심지어 프로그램 자체가 이 셋 중에서는 가장 가벼운 편입니다.
        사진을 통해 ACDSee에 대해 더 알아보겠습니다.
            
            
    
        </p>
        <br>
      <h2 class="subheading">1.ACDSee 특징</h2>
       <p>ACDsee photo studio 프로그램은 크게 "Manager", "Photo", "View", "Edit" 4가지 기능이 있습니다. 각 기능들의 화면은 색상과 여러 기능을 하는 화면들이 일관성을 유지하고 있습니다. </p>
        <img src="\img\posts\acdview.JPG" style="width: 1000px; height: 600px;">
    <br><br>
        <img src="\img\posts\acdedit.JPG" style="width: 1000px; height: 600px;">
        <p>
            위 사진은 view와 edit 기능입니다.
            ACDSee 에서는 또 디테일한 여러 편한 기능들이 있습니다.
            ShortCuts, informative feedback, offer simple error handling 등이 그 예들인데요, 사진을 통해 살펴보겠습니다.
        </p>
        <br>
        <p>
                ACDsee photo studio 에서는 다음과 같이 사용자가 직접 단축키를 성정하여 편리하게 사용할 수 있도록 도와줍니다. 
        </p>        
        <img src="\img\posts\shortcut.JPG">
        <br>
        <p>
                저장하지 않고 수정하던 것을 나가려고 하면 다음과 같은 피드백을 제공해줍니다.
        </p>     
        <img src="\img\posts\feedback.JPG">   
        <br>
        <p>
                특정한 사진을 보여주는 View 기능을 아무 사진도 선택하지 않고 누르는 경우 다음과 같은 에러 메세지가 뜨게 됩니다. 
        </p>     
        <img src="\img\posts\error.JPG">   
        <br>
        <p>
                사람의 단기기억을 보완해주기 위해 이 프로그램의 툴바는 알아보기 쉬운 그림을 이용해 버튼을 표현하고 있으며, 마우스를 대고 있으면 어떠한 기능인지 설명도 나옵니다. 
        </p>     
        <img src="\img\posts\memory.JPG">   
        <br><br>
      <div class="clearfix">
        <br><br>
        <h2 class="subheading">2.decision tree</h2>
        <p> 
            다음과 같은 디시전 트리를 만들어 보았습니다.
        </p>
        <img src="\img\posts\decision.JPG">
        <br><br>

        <h2 class="subheading">3. GOMS methodology</h2>
        <p>
                사진을 수정하는 작업을 GOMS를 이용해 걸리를 시간을 예측해보자면 다음과 같습니다. 

                1. 사진을 어떻게 수정할지 생각하기 (M : 1200msec) 
                2. 사진을 자르기 위해 "Crop" 버튼으로 마우스를 가져가기 (P : 1100msec) 
                3. "Crop" 버튼 클릭 (BB : 200msec) 
                4. 어떻게 자를지 고민하기 (M : 1200msec) 
                5. 자르는 툴을 원하는 위치로 마우스를 사용해 움직여 놓기 (P : 1100msec) 
                6. 자르는 툴의 크기를 마우스 드래그를 사용해 조절하기 (P : 1100msec) 
                7. "Done" 버튼으로 마우스 가져가기 (P : 1100msec) 
                8. "Done" 버튼 클릭 (BB : 200msec) 
                
                총 : 7.2 초 
                
                실제로 측정했을 경우 약 8초가 걸렸습니다. 위 7.2초와 비슷하게 나왔습니다. 
        </p>
        <br><br>
        
        <h2 class="subheading">4. Galaxy Note 9 pen</h2>
        <p>
                갤럭시 펜은 물기가 있는데도 사용할 수 있는데 이는 EMR(Electro Magnetic Resonance, 전자기 유도) 방식으로 작동되는 덕분입니다. 
                EMR 방식이란 S펜에 내장된 코일이 스마트폰 내 디지타이저(digitizer)에서 나오는 전자기장과의 상호 인식 과정을 거쳐 필기나 그림을 가능하게 하는 원리입니다.
                손가락, 혹은 일반 스타일러스 펜의 구동 원리인 정전식과 달리 EMR 방식은 물의 간섭을 받지 않tmqslek.
                S펜은 별도 배터리 없이 스마트폰에서 전자기장을 통해 S펜으로 에너지를 전달하고, S펜이 다시 전자기장으로 특정 신호를 보내 스마트폰이 S펜의 위치와 필압(筆壓) 등을 인지합니다. 
                이런 상태에서 스마트폰과 S펜이 각각 방수 기능을 갖추면 물 묻은 상태라 해도 양자 간 통신은 영향을 받지 않습니다.

        </p>
        <img src="\img\posts\pen2.jpg">
        <br>
        <p>
                버튼입력 방식의 경우에는 BLE(Bluetooth Low Energy)를 이용합니다. 
                이는 적은 데이터를 처리하기 위해 만들어진 기술로 많은 전력을 사용하지 않습니다. 
        </p>
        <img src="\img\posts\pen3.JPG">
        <br><br><br><br><br><br>
        {% if page.previous.url %}
        <a class="btn btn-primary float-left" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">&larr; Previous<span class="d-none d-md-inline"> Post</span></a>
        {% endif %}
        {% if page.next.url %}
        <a class="btn btn-primary float-right" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">Next<span class="d-none d-md-inline"> Post</span> &rarr;</a>
        {% endif %}

      </div>
  </div>
</div>
