---
layout: post
title:  "HCI 1차 과제"
subtitle: ""
date:   2018-09-17 23:45:13 -0400
background: ''
---

<div class="container">
  <div class="row">
      <h2 class="subheading">1. Intelligent assistants란?</h2>

    <p>지금 인공지능은 거의 모든 분야에서 큰 영향을 미치고 있으며 가장 뜨거운 이슈 중 하나일 것입니다.그에 대한 반증으로 삼성전자를 비롯해 세계 유수의 IT 회사들이 AI 관련 신기술에 대폭적인 투자를  하고 있으며,  AI 시장은 매년 50% 이상의 성장세를 지속하리라 전망되고 있습니다. 내로라하는 글로벌 IT 업체부터 스마트폰 제조사, 이동통신사까지 IT에 한 발 걸치고 있는 업체들이 최근 공들이고 있는 서비스가 있으니, 바로 '인공지능 비서 서비스(Intelligent personal assistant)' 입니다. 애플, 마이크로소프트(MS), 구글, 아마존 등 IT 업계의 빅4가 모두 자신만의 인공지능 비서 서비스를 개발해 상용화를 꾀하고 있습니다.
    <p>인공지능 비서 서비스란 단어 그대로 인공지능이 개인의 비서 역할을 해주는 서비스를 의미합니다. 업무를 더욱 빠르게 처리할 수 있도록 사무 보조를 해주고, 삶의 질을 향상시킬 수 있도록 각종 편의 서비스를 제공하는 것이 비서의 역할. 이를 한 단어로 요약하면 바로 '자동화(알아서 척척)'입니다. 인공지능 비서는 사람 대신 인공지능이 이러한 자동화 서비스를 제공하는 것입니다.
    <p>현재 인공지능 비서 서비스가 제공하는 서비스는 크게 13가지로 개인 일정 관리, 외국어 번역, 쇼핑하기, 사물인터넷 제어 등이 포함되어 있으며 다른 부가적인 기능들도 계속 추가되고 있어 사용자들의 편리성을 더욱 높여주고 있습니다. 대표적인 인공지능 비서 서비스로는 '아마존 알렉사', '구글 어시스턴트/구글 나우', 'MS 코타나', '애플 시리' 등이 있습니다. 저는 아이폰을 사용하므로 '애플 시리'에 대해 알아보도록 하겠습니다.

      <h2 class="subheading">2. 인공지능 비서 서비스 - 애플 시리</h2>
       <p>애플의 iOS와 macOS 탑재 기기들에서 작동하는 지능적인 음성인식 개인 비서 응용 프로그램입니다.
        기본 호출 명령어는 "Hey Siri", "시리야"  등 여러 번역이 있습니다.
        사용자가 말을 하면 그것을 녹음해 애플의 서버로 전송한 다음, 뉘앙스의 기술을 이용해 음성을 텍스트로 변환하고 그 내용을 애플이 인수한 SRI의 인공지능으로 분석하여 동작을 결정한다.
        이에 따라 대답을 들려주거나 앱을 동작시킵니다.</p>
        <img src="\img\posts\siri.jpg">
        <p>다음은 여러 시리 명령어에 대해 살펴보겠습니다. 약속 스케쥴 잡아주기, 메시지 보내주기, 맛집 찾아주기 등 다양한 명령을 내릴 수 있는데 한눈에 보기 쉽게 사진을 통해 살펴보도록 하죠.</p>
        <div style="border:rgba(255, 0, 0, .5); float:left; margin-right:10px;">
          <img src="\img\posts\order1.jpg" style="width: 200px; height: auto;">
        </div>
        
        <div style="border:rgba(255, 0, 0, .5); float:left; margin-right:10px;">
          <img src="\img\posts\order2.jpg" style="width: 200px; height: auto;">
        </div>
    
        <div style="border:rgba(255, 0, 0, .5); float:left;">
          <img src="\img\posts\order3.jpg" style="width: 200px; height: auto;">
        </div>
    
        
        <p>지금까지 간단하게 시리의 각종 기능들과 인터페이스들을 봤습니다. 이제 현재 시리의 특징과 단점 그리고 개선 방안, 앞으로 어떤 식으로 바뀌어 나갈 것인가에 대해 생각해보고자 합니다.</p>
      <div class="clearfix">

        <h2 class="subheading">3. 시리의 특징과 단점</h2>
        <p>구글이나 의 음성인식 앱과 비교해 시리 의 가장 큰 차별점은 자연어 음성인식 기 MS ‘ ’
        능을 구현하고 있다는 것으로 딱딱한 명령어 대신에 좀 더 자연스러운 대화형 인터 ,
        페이스를 구축하고 있습니다. 이것은 천재 물리학자 스티븐 울프람이 개발한 지능형 검색엔진 울프람알파가 적용되었기 때문인데요, 울프람알파는 기존 검색 서비스가 인터넷에 있는 정보들을 나열하는 것과 달리, 자체적으로 수집한 방대한 정보를 활용하여 문맥에 맞는 결과를 찾아 제공합니다.
        시리의 구현 과정은 정확하게는 알려져 있지 않지만, 아이폰으로 음성메시지를 받아 웹 DB에서 텍스트로 변환하고 이들 중 웹 검색이 필요한 일부는 울프람 검색 엔진에 넣어 결과 값을 도출한 후 다시 아이폰에 적용하는 클라우드 방식인 것으로 추측됩니다. 
        특정 명령어가 불필요하다는 점, 그리고 구동이 빠르다는 점 또 주요 기능이 연동이 된다는 여러 장점이 있지만 최근은 아마존, 구글이 제공하는 인공지능 비서 서비스에 비해 약한 면모를 보이고 있다는 평판을 받고 있습니다.
        <p>애플은 미국 샌프란시스코에서 개막한 연례 '세계 개발자 회의(WWDC) 2016'에서 위챗이나 우버 등 제3의 앱과 연동해 사용이 가능한 한층 강화된 시리를 선보였지만, 여전히 구글의 대화형 AI 비서인 '구글 어시스턴트'나 아마존의 '알렉사', 페이스북의 '챗봇'에 못 미친다는 평가가 주를 이뤘습니다.
          특히 구글이 지난달 선보인 구글 어시스턴트는 이용자의 질문에 대한 이해도 등의 측면에서 시리에 한참 앞서있는 것으로 평가됐습니다.
        가장 큰 원인 중 하나는, 개인정보를 우선시 하는 애플의 정책입니다. 물론 이용자의 사생활 보호는 중요하지만 이것이 도를 넘어, 구글 아마존의 인공지능이 제대로 된 '똑똑한' 답을 내놓을 때, 시리는 혼자 '엉뚱한' 답을 내놓곤 합니다.
        차별형 프라이버시를 통해 애플은 사람들이 무엇을 하고, 말하고, 좋아하고, 원하는지 알아내는 데 유용한 형태의 정보를 이용자들로부터 수집하고 보관합니다. 그러나 프라이버시를 침해할 우려가 있는 특정 개인에 대한 정보를 추출해내지는 못하는 겁니다.
        </p>
        <br>
        <h2 class="subheading">4. 시리의 개선 방안 및 인공지능 비서들의 미래 전망</h2>
        <p>우선 시리의 주된 입력수단인 음성 인식률이 충분히 높지 않습니다. 사람과 달리 시리는 말하는 속도와 성량, 발음에 따라서 인식률이 크게 차이나는 데 딥러닝으로 인해 개선되긴 했지만 사람들이 기대하듯이 사람에게 말하는 것처럼 편안하게 해도 전부 알아듣는 수준은 아닙니다. 음성명령을 쓰겠다고 의식하고 또박또박 명확하게 발음하지 않으면 자잘한 부분에서 잘못 인식하는 경우가 많습니다.

주변 소음이 크거나 음악이 들릴 때 이와 구분해서 정확히 명령만 가려내는 부분도 부족합니다. 사람은 상대가 이야기하는 음성과 주변 배경음을 명확히 구분하기 위해 양쪽 귀를 이용하고 맥락까지 뇌로 판단하는 데 비해 아직 스마트폰의 마이크 성능이나 처리능력이 그에 미치지 못하는 것으로 관측됩니다.

        <p>이러한 부분들을 중점적으로 개선한다면 우선적으로 시리의 한계점을 보다 메꿀 수 있을 것으로 보입니다. 좀 덜 정확한 정보를 답으로 내놓는 점은 애플 특유의 사용자의 사생활 보호라는 명목으로 봐주면 좋을 것 같습니다.

        <p>앞으로 이러한 인공지능 비서 서비스는 더욱더 개발될 것으로 보입니다. 단순히 핸드폰을 넘어서서 주변 자신이 사용하는 가전기구들과 시리 또 다른 인공지능 비서들이 접목될 경우, 집에 들어서서 모든 가전제품을 목소리로만 사용할 수 있는 것도 머지않아 보이며 사용자의 기분, 생체 환경을 읽어내 뚜렷하게 말하지 않아도 사용자의 기분에 맞춰 주는 그런 서비스 또한 개발될 것으로 보입니다.
       
        <br> <br>
         <hr>
        
        <h2 class="subheading">travel planning web sites 비교</h2>
        <br>
        <p>먼저 첫째로, Booking.com을 이야기 해보겠습니다. Booking.com은 OTA (Online Travel Agency)에 속하며 전세계의 각 호텔들과 직접적으로 협상을 통해 상품들을 제시합니다.</p>
        <img src="\img\posts\booking.png" style="width: max; height: auto;">
<p>두번째로, HotelsCombined과 Trivago 그리고 Skyscanner 이야기 입니다. 이들은 meta search website로 불리며 각 사이트마다 다른 호텔의 가격을 서로 비교해주는 서비스를 제공해주어 소비자들의 불편을 해소시켜주고 더 ᄈᆞ른 구매결정을 할 수 있도록 돕는 플랫폼입니다. </p>
        <img src="\img\posts\trivago.png" style="width: 200px; height: auto;">

<p>마지막으로, TripAdvisor입니다. 사실 이 TripAdvisor은 관광지/레스토랑/호텔 등의 review를 제공하는 platform으로 시작을 했습니다. 많은 여행객들이, TripAdvisor를 통해 다른 소비자들의 리뷰를 체크하고 또 남기기도 하고 있습니다. 또한, Expedia나 다른 OTA platform 들도 TripAdvisor와 협약하여 상품에 대한 리뷰를 같이 제공하기도 합니다. 이처럼 TripAdvisor는 그들의 platform을 통해 예약 혹은 구매를 하는 것을 처음부터 제공하지는 않았습니다. 하지만, 언제부턴가 같이 조금씩 사업을 확장해 가고 있고 현재는 OTA와 같이 상품을 공급처와 바로 협상하여 제공하는 것이 아닌 meta search website와 가까운 성격으로 여러 가격들을 같이 제시해주는 비슷한 기능을 같이 하고 있습니다.</p>
        <img src="\img\posts\tripadvisor.png" style="width: 200px; height: auto;">
        <br>
        <br>
        {% if page.previous.url %}
        <a class="btn btn-primary float-left" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">&larr; Previous<span class="d-none d-md-inline"> Post</span></a>
        {% endif %}
        {% if page.next.url %}
        <a class="btn btn-primary float-right" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">Next<span class="d-none d-md-inline"> Post</span> &rarr;</a>
        {% endif %}

      </div>
  </div>
</div>
